
.filter {
    grid-column: 1/5;
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    @media(max-width: 768px) {
      flex-direction: column;
      margin-left: 0;
    }
  }
  
  .filter > .input-group > .form-control, .input-group > .form-select {
    min-width: 400px;

    @media only screen and (max-width: 600px) {
      min-width: 0;
    }
  }
  
  .filter__item {
    border-radius: 10px !important;
    @media(max-width: 768px) {
      margin-bottom: 4px;
    }
  }
  
  .form-select__filter,
  .search-btn {
    height: 40px;
    margin-left: 4px;
    @media(max-width: 768px) {
      margin-left: 0;
      margin-bottom: 4px;
    }
  }
  
  .filter__item,
  .form-select__filter,
  .search-btn {
    border: 2px solid $primary-color;
    border-radius: 10px;
  }
  
  .search-btn:hover {
    border: 2px solid $primary-color;
  }
  